body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsl(216, 12%, 8%);
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 30px;
  border-radius: 30px;
  width: 320px;
  height: 320px;
  padding: 30px;
}

h3 {
  color: hsl(0, 0%, 100%);
}

.text {
  color: hsl(216, 12%, 54%);
}

#thankYou {
  visibility: hidden;
}
